.promptUserForSoundDiv {
  background-color: #F4F5FB;
  height: 24.6px;
}

.promptLabelID{
  margin-left: 10px;
}

.SoundNotifText {
  font-size: 0.8em;
  font-weight: 700;
  font-family: Arial;
  color: #333;
}

.YesButton {
  margin-left: 10px;
  background-color: #1e72ba;
  border: 0; color: white;
  height: 70%;
  width: 60px;
  font-size: 70%;
}
